.emoji{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    .situacao{
        font-size: 4em;
    }
    .acoes{
        display: flex;
        gap: 2px;
        flex-direction: column;
    }
}